/* Bedirhan YILDIRIM reset.css */
body {background-color: #f2f2f2; font: 15px/19px Arial; margin: 0 auto;transition: all 0.5s ease 0s;}
img {border: none}
a {text-decoration: none}
table,tr,td,ul,li,h1,h2,h3,h4,h5,h6,p,from,input,textarea {padding: 0; margin: 0; border: none; list-style-type: none}
:focus {outline: none}
html {scroll-behavior: smooth;}

/* Main Css */
.container {
    padding: 0;
    width: 1024px;
    margin: 0 auto;
}

header {
}

header .header-mobile {
    display: none;
}

header .header-top {
    height: 100px;
    display: flex;
    align-items: center;
}

header .header-top .logo {
    float: left;
    margin-left: 20px;
}

header .header-top .logo h2 {
    font-size: 30px;
    color: #2d2d2d;
    font-weight: bold;
    font-family: 'ABeeZee';
}

header .header-top .logo h5 {
    float: right;
    margin-top: 10px;
    color: #2d2d2d;
    font-size: 15.6px;
    font-weight: normal;
    font-family: 'Comfortaa';
}

header .header-bottom {
    height: 50px;
    display: flex;
    overflow: hidden;
    align-items: center;
    background-color: #fbc02d;
}

.navbar{
    float: left;
}

.navbar ul{
}

.navbar ul li{
    float: left;
}

.navbar ul li a{
    padding: 20px;
    display: block;
    font-size: 13px;
    color: #101010;
    letter-spacing: 1px;
    font-weight: 900;
    text-decoration: none;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.navbar ul li a:hover{
    cursor: pointer;
    color: #79590a;
}

.navbar ul li.active a{
    color: #79590a;
}

footer {
    display: flex;
    background-color: #101010;
}

footer .footer-bottom {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-bottom h3{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.content {
    padding: 20px;
    box-shadow: inset 0 0 10px #cccccc;
}

.card {
    width: 328px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Roboto';
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
}

.card .card-header {
    height: 72px;
    display: flex;
    align-items: center;
}

.card .card-header .card-icon{
    width: 40px;
    height: 40px;
    display: flex;
    color: #ffffff;
    margin: 0 16px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
}

.card .card-header .card-text{
    display: block;
}

.card .card-header .card-text .card-title{
    font-size: 20px;
    font-weight: bold;
    color: #000000de;
}

.card .card-header .card-text .card-author{
    font-size: 14px;
    font-weight: bold;
    color: #00000099;
    margin-top: 2px;
}

.card .card-img {
    height: 194px;
    widows: 344px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.card .card-footer {
    display: block;
    height: min-content;
}

.card .card-footer .card-desc{
    margin: 16px;
    font-size: 14px;
    color: #00000099;
}

.card .card-footer .card-links{
    margin: 16px;
    display: flex;
    font-size: 14px;
    color: #fbc02d;
}

.card .card-footer .card-links ul{
    display: flex;
}

.card .card-footer .card-links ul li{
    float: left;
}

.card .card-footer .card-links ul li a{
    display: block;
    font-size: 14px;
    font-weight: 900;
    color: #fbc02d;
    margin-right: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: calc(100vw - 30px);
    }

    header .header-top {
        background-color: #ffffff;
    }

    header .header-top .logo  {
        text-align: center;
        margin: 0;
    }

    header .header-top .logo h2 {
        float: none;
        font-size: 20px;
    }
    
    header .header-top .logo h5 {
        float: none;
        font-size: 14px;
    }

    header .header-bottom {
        display: none;
    }

    header .header-mobile {
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: #fbc02d;
    }

    header .header-mobile .navbar{
        width: 100%;
        float: none;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    header .header-mobile ul {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
    }

    header .header-mobile ul li {
        float: none;
    }

    header .header-mobile ul li a {
        padding: 5px 10px;
    }

    header .header-mobile ul li a svg{
        fill: #2d2d2d;
        padding-top:5px;
        transition: all 0.5s ease 0s;
    }

    header .header-mobile ul li a:hover svg{
        fill: #79590a;
        cursor: pointer;
    }

    .content {
        padding: 0;
        padding: 10px 0;
    }

    .card {
        width: auto;
        display: block;
    }

    footer {
        padding: 10px;
        margin-bottom: 41px;
        background-color: #ffffff;
    }
    
    footer .footer-bottom {
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer .footer-bottom h3{
        font-size: 12px;
        color: #2d2d2d;
        font-weight: normal;
    }

}